.card-style {
    min-width: 100%;
    margin: 20px;
}

.card-content-style {
    min-width: 100%;
    margin: 20px;
}

.card-header-style {
    min-width: 100%;
}

.card-title-style {
    text-align: center;
}

.flag-style {
    width: 50px;
    height: 30px;
}

.mat-list-item {
 height:20px;
}